.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
    margin-right: 0px;
   
}

#imgg :hover{
        transform: scale(1.2);
    }

    #imgg{
        transition:0.9s;
        margin-left: 0px;
}
#alll ul:hover{
    color: rebeccapurple;
}
#nov{
    background-color: #ff4500;
    color: white;
    font-size: 20px;
    border: 1px solid #ff4500;
    margin-right: 20px;
    transition: 0.5s;
    align-items: center;
}
#nov:hover{
    transform:translateY(-5px) ;
}

.sect{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 100px;
}
.bb{
    margin-top: 30px;
    background-color: #ff4500;
    color: white;
    padding: 9px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #ff4500;
    border-radius: 5px;

}
.bb:hover{
    transform:translateY(-5px);
    transition: 0.9s;
}
.mg1:hover{
    transform:translateY(-9px);
     transition:0.9s;
}
.foot{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    font-weight: 800;
    color: #ff4500;
    margin-top: 100px;
    text-align:left;
}